

.about-content {
    display: flex;
    margin: auto;
    width: 50%;
    padding: 2rem;
    font-family:'Courier New', Courier, monospace ;
    border-radius: 20px;
}

.about-content:hover{
    background: rgba(231, 230, 230, 0.089);
}

.texto {
    text-align: left;
    font-size: 0.9rem;
    text-shadow: 1px 1px 100px yellow;
}
.text:hover{
    font-size: 5rem;
}