.avatar {
	width: 10rem;
	height: 10rem;
	transform: translatey(0px);
	animation: float 4s linear infinite;
	margin: auto;
}

.avatar img {
	border: 0.3rem solid aqua;
	border-radius: 100%;
	overflow: hidden;
	box-shadow: 1px 1px 20px 1px aqua;
	width: 100%;
	height: auto;
}
/* 
@keyframes float {


	25% {
		transform: rotate(15deg);

	}



	75% {
		transform: rotate(-15deg);

	}


} */