body {
	font-family: sans-serif;
	color: black;
	margin: 0;
	padding: 0;
}

header {
	background-color: lightgray;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header a {
	color: black;
	text-decoration: none;
}

header a:hover {
	color: dodgerblue;
}

input {
	border: none;
	border-radius: 4px;
	padding: 8px;
}

button {
	border: none;
	border-radius: 4px;
	padding: 8px 16px;
	background-color: dodgerblue;
	color: white;
	font-size: 16px;
	cursor: pointer;
}