#logo{
    width: 10%;
    border: #003817 solid 1px;
}
.menu{
    border: 1px red solid;
    display: flex;
    justify-content:space-around;
    list-style: none;
    align-items: center;
} 

.menu li a{
    border: black solid 1px;
}
.menu > li a:link, a:visited, a:active{
    color: #003817;
    text-decoration-line: none;
}

.menu li a:hover{
    color: black;
}