/*MENU*/
header {
    /* background-color: rgba(0, 0, 0, 0.1); */
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
}

nav {
    float: left;

}

nav ul {
    list-style: none;
    overflow: hidden;
    /* border: 1px solid black; */
    /* box-shadow: 1px 1px 1px 0px black; */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    /* margin: 0%; */
    padding: 0%;
}

nav ul li {
    border: 1px solid red;
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;

}

nav ul li a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

nav ul li:hover {
    /* background: rgb(239, 81, 126, 0.7); */
    background-color: rgba(0, 0, 0, 0.1);

    border-radius: 2px;
}

/*-----------------------------------*/



form,
form input {
    text-align: center;
}

.container {
    display: flex;
    /* border: 1px solid black; */
    border-radius: 5px;
    /* box-shadow: 1px 1px 1px 1px black; */
    height: 35em;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.sub1 {
    /* border: 1px solid rgb(239, 81, 126, 0.7); */
    margin-top: -5em;
    /* height: 50%; */
    width: 100%;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    text-align: center;

}

.sub2 {
    /* border: 1px solid rgb(239, 81, 126, 0.7); */
    margin-top: -15em;
    height: 50%;
    width: 50%;
    /* margin: auto; */
    justify-content: center;
    align-items: center;

}

.mssgRegistrado{
    /* border: 1px solid green; */
    margin-top: -5em;
    text-align: center;
}
.welcome-text {
    text-align: center;
    /* border-color: #f85483 1px solid; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 0.3em;
}
.form-title {
    text-align: center;
    font-variant: small-caps;
    /* border-color: #f85483 1px solid; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0.3em;
}

.error {
    color: red;
}

body {
    background: whitesmoke;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}