<<<<<<< HEAD
form, form input{
    text-align: center;
}

h1{
    text-align: center;
    font-variant: small-caps;
    border-color: #f85483 1px solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.error{
    color: red;
}

body{
    background: linear-gradient(to right, rgb(0, 0, 0), #f85483);
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
=======
form, form input{
    text-align: center;
}

h1{
    text-align: center;
    font-variant: small-caps;
    border-color: #f85483 1px solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.error{
    color: red;
}

body{
    background: linear-gradient(to right, rgb(0, 0, 0), #f85483);
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
>>>>>>> 82c02f0f93e47263e49d6aa36affe5e726f076b0
